<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD dom.Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="Properties/jdbc.properties"/>
    <!--数据库切换default进行切换-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--数据库信息-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>


    </environments>


    <!--映射器配置文件-->
    <mappers>
        <!--
        <mapper resource="Mybatis/Mapper/Mapper.xml"/>
        -->
        <package name="DAO.Interface"/>
    </mappers>
</configuration>
